* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* LOGO DISPLAY */

.title {
  text: #2F3491;
  size: 67px;
 
}


.blurb, .brainscience, .tagline {
  margin-left: 10px;
}
  
.bio {
  margin-left: 25px;
  margin-right: 25px;
}
.rowlogosize {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}



.into, .blur{
  margin-left 10px;
  margin-right 10px;
  margin-right 10px;
}

.brainscience {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-left: 10px;
  margin-right 10px;

}

p, .brainscience {
  text-size: 20px;
  color: #ff580f
}

p, .title {
  color: #2F3491;
  font-size: 45px;
}

.color {
  font-size: 40px;
  font-weight: bold;
}

.bio {
  border-bottom: 5px solid #2F3491;
}

.tagline {
  font-size: 25px;
  emphasis: em;
  color: #ff580f;
  font-weight: bold;
  border-bottom : 8px solid #2F3491;
  margin-right : 20px;
  margin-left: 20px;
  padding-bottom: 10px;

}

.orangemodal {
  color: #28ABE3;
  text-decoration: underline;
  font-weight: bold;
  padding: 0;
}

.separatesection {
  margin-right: 
}

.blue {
  color:#2e3192;
  font-size: 70px; 
}


.getintouch {
  font-size: 25px;
  color: #2e3192;
  emphasis: em;
}

.socialmedia {
  font-size: 20px; 
}


.modal-title {
  color:  #ff580f;
  font-size: 25px;
  
}

.modal-body ,p {
  color: #2e3192;
  font-size: 20px;
}

.button-close {
  color: #28ABE3;
}

.close {
  color: #28ABE3;
}

.cards {
  margin: 5px;
  padding: 2px;
}

.card-title {
  color: #2e3192;
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  color: black;
  font-size: 15px;
}

.btn-primary {
  color: white;
  background-color: #2e3192;
}