* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* LOGO DISPLAY */

.orange {
	color: #ff580f;
	font-size: 40px; 
}

.title {
	text: #2F3491;
	size: 67px;
}
.blurb, .brainscience, .tagline {
	margin-left: 10px;
}
.bio {
	margin-left: 25px;
	margin-right: 25px;
}

.fa-mail-bulk {
	color: #2F3491;
}
.rowlogosize {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
}
.into, .blur {
	margin-left 10px;
	margin-right 10px;
	margin-right 10px;
}
.brainscience {
	font-size: 30px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	padding-botton: 0px;
}
p, .brainscience {
	text-size: 20px;
	color: #ff580f
}
p, .title {
	color: #2F3491;
	font-size: 45px;
}

a, .mail {
	padding-top: 0;
	margin-top: 0;
	color: #ff580f;
	font-size: 25px;
	font-weight: bold;
}
.color {
	font-size: 40px;
	font-weight: bold;
}
.bio {
	border-bottom: 3px solid #2F3491;
}

.email {
	color: #ff580f;
}
.tagline {
	font-size: 25px;
	emphasis: em;
	color: #ff580f;
	font-weight: bold;
	border-bottom: 5px solid #2F3491;
	margin-right: 20px;
	margin-left: 20px;
	padding-bottom: 10px;
}
.orangemodal {
	color: #28ABE3;
	text-decoration: underline;
	font-weight: bold;
	padding: 0;
}
.separatesection {
	margin-right:
}
.blue {
	color: #2e3192;
	font-size: 70px;
}
.getintouch {
	font-size: 25px;
	color: #2e3192;
	emphasis: em;
}
.socialmedia {
	font-size: 20px;
}
.modal-title {
	color: #ff580f;
	font-size: 25px;
}
.modal-body, p {
	color: #2e3192;
	font-size: 20px;
}
.button-close {
	color: #28ABE3;
}
.close {
	color: #28ABE3;
}
.cards {
	margin: 5px;
	padding: 2px;
}
.card-title {
	color: #28ABE3;
	font-size: 20px;
	font-weight: bold;
}
.card-text {
	color: black;
	font-size: 15px;
}

.card-img-top {
	width: 40%;
}

.btn-primary {
	color: white;
	background-color: #2e3192;
}
.btn-primary:hover {
	background-color: #2e3192;
	color: #ff580f;
}

/*Learning Styles*/
.styletype  {
	color: #28ABE3;
	font-size: 20px;
	font-weight: bold;
}

.stylecharacteristics {
	color: black;
	font-size: 18px;

}
.styleresourcestitle {
	color:  #2e3192;
	font-size: 20px;
	font-weight: bold;
}

.resourcelist {
	color:black;
	font-size: 15px; 
	font-weight: 500;
}

.resourcelink {
	color: #ff580f;
	underline:  #ff580f;
	font-size: 15px;
}

.backbutton {
	background-color: #2e3192;
}

.brainHacks {
	margin: 0px;
}

.hacks {
	width: 30%;
	font-size: 15px;
}

.goals {
	font-size: 20px;
	
}